

.planifier{
    width: 100%;
    max-width: 1300px;;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    }
    
    
    .planifierItem {
    flex: 1;
      border-radius: 10px;
      color: #fff;
      overflow: hidden;
      cursor: pointer;
    position: relative;
    }
    
    .planifier Img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .planifierTitles h1 {
      font-size: 18px;
    }
    
    .planifierTitles h2{
      font-size: 14px;
      font-weight:300;
    }

    .planifierTitles{
    position: absolute;
    bottom: 0px;
    left: 20px;
    }