.actualites {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.actualitesItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    flex: 1;
}

.actualites h1{
    font-size: 18px;
}
.actualitesItem h2{
    font-size: 14px;
}

.actualites img  {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .actualitesTitles{
    position: absolute;
    bottom: 10px;
    left: 20px;

}