.header{
    background:#158467;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.header h1 {
  font-size: 3rem;
}

.header p {
  font-size: 1.5rem;
}
.headerContainer {
  width: 100%;
  max-width: 1300px;
  margin: 20px 0 100px 0px;
}

.headerList{
  display: flex;
 align-items: center;
 gap: 40px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active{
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 20px;
}
.headerdesc {
  margin: 20px 0;
}

.headerSearch {
  height: 30px;
  background: #fff;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1440px;
}
.headerSearchItem {
  
  display: flex;
  align-items: center;
  gap: 5px;
}

.headerIcon{
  color:#158467 ;
}

.headerBtn {
  background-color: #158467;
  padding: 10px 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.headerItem {
  display: flex;
  align-items: center;
  gap: 10px;

}

.headerSearchinput {
  border:none ;
  outline: none;
}


.headerSearchText {
  color: #000;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  left: 30%;
  z-index: 10;
}

.options{
  position: absolute;
  top: 50px;
  background-color: #fff;
  color: #158467;
  border-radius: 5px;
  --webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0);
box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
z-index: 10;

}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;

}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #000;
}

.optionCounterButton{

  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  background:white;
  cursor: pointer;
}

.optionCounterButton:disabled{
  cursor: not-allowed;
}