.evenements {
    width: 100%;
    max-width: 1300px;;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.evenements-Item{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    flex: 1;
}

.evenements-Item h1{
    font-size: 18px;
}
.evenements-Item h2{
    font-size: 14px;
}

.evenements img  {
    width: 100%;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
  }

  .evenements-Titles{
    position: absolute;
    bottom: 0px;
    left: 20px;

}