

.pList{
width: 100%;
max-width: 1300px;;
display: flex;
justify-content: space-between;
gap: 20px;
}


.pListItem {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

}

.pListImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

.pListTitles h1 {
  font-size: 18px;
}

.pListTitles h2{
  font-size: 14px;
  font-weight:300;
}