.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.homeTitle{
    width: 1300px;;
    font-size: 20px;
}

iframe{
    width: 1300px;;
    height: 100vh;
    border-radius: 10px;
}


.video{
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    color: #003580;
    border-radius: 10px;
  }