

.monslider {
width: 100%;
max-width: 1300px;
display: flex !important;
justify-content: center;

}
.slick-slider .slick-track, .slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
    display: flex;
    gap: 20px;
  }