.quoi-Faire {
    width: 100%;
    max-width: 1300px;;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.quoi-FaireItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    flex: 1;
    margin-bottom: 5%;
}

.quoi-FaireItem h1{
    font-size: 18px;
}
.quoi-FaireItem h2{
    font-size: 14px;
}

.quoi-Faire img  {
    width: 100%;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
  } 

  .quoi-FaireTitles{
    position: absolute;
    bottom: 0px;
    left: 20px;

}