footer{
    background: #000;
    width: 100%;
}

.footer{
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    background-image: url("http://www.visitezlesenegal.com/wp-content/uploads/2020/12/destination-senegal-plage-1-scaled.jpg");
    background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

form{
    display: flex;
  justify-content: space-between;
  gap: 15px;
}

#nom,#email{
    height: 30px;
  width: 300px;
  border: 0;
  background: #00f0;;
  border-bottom: 1px solid white;

}

#envoyer{
    height: 35px;
    width: 150px;
    background-color: #158467;
    color: #fff;
    border-radius:10px ;
    border: none;
    
   
}

::placeholder{
    opacity: 100% !important;
    color: white;
}


.copyright {
    width: 100%;
max-width: 1300px;
    min-height: 60vh;
   display: flex;
    background: #373A3C;
}

.copyrightItem {
    flex: 1;
    position: relative;
    color: #fff;
    }

    .copyrightItem ul li {
        list-style: none;
        line-height: 35px;
        font-size: 18px;
    }