
.monslideItem{
    background-image: url("https://www.visitezlesenegal.com/wp-content/uploads/2023/08/Se%CC%81ne%CC%81gal-oriental_blur-scaled.jpg");
background-repeat: no-repeat;
background-size: cover;

display: flex;
justify-content: center;
align-items: center;

}



.monslideItem img{
    height: 55vh;
    object-fit: contain;
    width: 100%;
    display: flex;
    position: relative;
}
.monslideItem button{
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 7vw;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #158467;
    color: #fff;

   
}