.navbar {
    height: 50px;
    background: #158467;
    display: flex;
    justify-content: center;
}
.navContainer {
  width: 100%;
  max-width: 1300px;;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    
    width: 10vw;;
    
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  border-radius: 10px;
}
