.destination {
    width: 100%;
    max-width: 1300px;;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.destinationItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    flex: 1;
}

.destinationItem h1{
    font-size: 18px;
}
.destinationItem h2{
    font-size: 14px;
}
.destination img  {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.destination img::before{
    background-color: #000;
    width: 100%;
    height: 250px;
    flex: 1;
    overflow: hidden;
}

.destinationTitles{
    position: absolute;
    bottom: 40px;
    left: 20px;

}